<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatty</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/main.min.css">
    <!-- Scripts -->

    <% if(chat) { %>

    <script src="/socket.io/socket.io.min.js" defer></script>
    <script src="/javascripts/chat.js" defer>    </script>

    <% } %>
</head>
