<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs", {chat: false}) %> 
<body>
    <div class="container center">

        <div class="header">
            Chatty <small>beta</small>
        </div>

        <form action="/chat" method="GET" class="group">
            <label for="Name">Enter Your Name: </label>
            <input type="text" name="user_name">
            <input type="submit" name="submit" id="submit">
        </form>

    </div>
</body>
</html>